@import "color";
@import "typo";

.button-1 {
  width: 100%;
  height: 50px;
  text-transform:uppercase;
  color: #fff;
  background-color: #DB284E;
  border-radius: 4px;
  font-family: 'Montserrat';
  font-weight:bold;
  font-size: 14px;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  word-spacing: 1px;
  box-shadow: 0px 4px #A51F3B;
}
.button-2 {
  width: 100%;
  height: 50px;
  text-transform:uppercase;
  color: #DB284E;
  background-color: #fff;
  border-radius: 4px;
  font-family: 'Montserrat';
  font-weight:bold;
  font-size: 14px;
  border: 1px solid #DB284E;
  padding-left: 20px;
  padding-right: 20px;
  word-spacing: 1px;
  box-shadow: 0px 4px #ED93A6;
}
.button-2:active {
  transform: translateY(4px);
  box-shadow: none;
}
.button-1:active {
  transform: translateY(4px);
  box-shadow: none;
}
.button-facebook:active {
  transform: translateY(4px);
  box-shadow: none;
}
.button-3 {
  width: 100%;
  height: 50px;
  text-transform:uppercase;
  color: #fff;
  background-color: #DB284E;
  border-radius: 4px;
  font-family: 'Montserrat';
  font-weight:bold;
  font-size: 14px;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  word-spacing: 1px;
}
.button-4 {
  width: 100%;
  height: 50px;
  text-transform:uppercase;
  color: #DB284E;
  background-color: #fff;
  border-radius: 4px;
  font-family: 'Montserrat';
  font-weight:bold;
  font-size: 14px;
  border: none;
  border: 1px solid #DB284E;
  padding-left: 20px;
  padding-right: 20px;
  word-spacing: 1px;
}
.button-facebook {
  width: 100%;
  height: 50px;
  text-transform:uppercase;
  color: #fff;
  background-color: #3B5998;
  border-radius: 4px;
  font-family: 'Montserrat';
  font-weight:bold;
  font-size: 14px;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  word-spacing: 1px;
  box-shadow: 0px 4px #2B4270;
}
.button-pfollow {
  width: 100%;
  height: 50px;
  text-transform:uppercase;
  color: #DB284E;
  background-color: #fff;
  border-radius: 4px;
  font-family: 'Montserrat';
  font-weight:bold;
  font-size: 14px;
  border: none;
  border: 1px solid #E0E0E0;
  padding-left: 20px;
  padding-right: 20px;
  word-spacing: 1px;
}
.button-pfollow:active {
  background-color: #DB284E;
  color: #fff;
  border: none;
}
.button-pfollow-2 {
  width: 100%;
  height: 42px;
  text-transform:uppercase;
  color: #DB284E;
  background-color: #fff;
  border-radius: 2px;
  font-family: 'Montserrat';
  font-weight:bold;
  font-size: 14px;
  border: none;
  border: 1px solid #9B9B9B;
  padding-left: 20px;
  padding-right: 20px;
  word-spacing: 1px;
}
.button-pfollow-2:active {
  background-color: #DB284E;
  color: #fff;
  border: none;
}
.button-icon-1 {
  width: 100%;
  height: 42px;
  text-transform:uppercase;
  color: #fff;
  background-color: #DB284E;
  border-radius: 2px;
  font-family: 'Montserrat';
  font-weight:bold;
  font-size: 14px;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  word-spacing: 1px;
  box-shadow: 0px 2px 2px #9B9B9B;
}

.ic-icon-button-1 {
  padding: 0px 0px 0px 32px;
  font-size: 15px;
  font-weight: bold;
  background: url('../image/ic_star_grey.png');
  background-size: 15px 15px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  color: #fff;
}
@mixin button-icon-2 {
  width: 100%;
  height: 42px;
  text-transform:uppercase;
  color: #DB284E;
  background-color: #fff;
  border-radius: 2px;
  font-family: 'Montserrat';
  font-weight:bold;
  font-size: 14px;
  border: 1px solid #9B9B9B;
  padding-left: 20px;
  padding-right: 20px;
  word-spacing: 1px;
}
@mixin ic-icon-button-2 {
  padding: 0px 0px 0px 32px;
  font-size: 15px;
  font-weight: bold;
  background-size: 15px 15px;
  background-position: 0% 50%;
  background-repeat: no-repeat;
  color: #000;
  // background: url('../image/ic_star_grey.png');
}
.button-plus-review {
  width: 100%;
  height: 42px;
  text-transform:uppercase;
  color: #DB284E;
  background-color: #fff;
  border-radius: 2px;
  font-family: 'Montserrat';
  font-weight:bold;
  font-size: 14px;
  border: 1px solid #DB284E;
  padding-left: 20px;
  padding-right: 20px;
  word-spacing: 1px;
  box-shadow: 0px 2px 2px #9B9B9B;
}
.button-plus-review:active {
  color: #fff;
  background-color: #DB284E;
}
