<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Follow Card</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/follow-card.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
</head>
<body>
  <div class="page-content">
    <div class="cardfl-list">
      <div class="cardfl">
        <div class="cardfl-in">
          <div class="cardfl-in-row1">
            <div class="cardfl-pict ">
              <img src="../image/user.jpg" alt="">
            </div>
            <div class="cardfl-name-stat-cv">
              <div class="cardfl-name">
                innisfreeholic
              </div>
              <div class="cardfl-stat">
                Beauty Expert
              </div>
            </div>
            <div class="cardfl-btn">
              <button type="button" class="cardfl-btn-following">FOLLOWING</button>
            </div>
          </div>
          <div class="cardfl-in-row2">
            <div class="cardfl-det-cv">
              <div class="cardfl-num">
                32
              </div>
              <div class="cardfl-txt">
                FOLLOWERS
              </div>
            </div>
            <div class="cardfl-det-cv">
              <div class="cardfl-num">
                89
              </div>
              <div class="cardfl-txt">
                FOLLOWING
              </div>
            </div>
            <div class="cardfl-det-cv">
              <div class="cardfl-num">
                17
              </div>
              <div class="cardfl-txt">
                REVIEWS
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cardfl">
        <div class="cardfl-in">
          <div class="cardfl-in-row1">
            <div class="cardfl-pict">
              <img src="../image/user.jpg" alt="">
            </div>
            <div class="cardfl-name-stat-cv">
              <div class="cardfl-name">
                innisfreeholic
              </div>
              <div class="cardfl-stat">
                Beauty Expert
              </div>
            </div>
            <div class="cardfl-btn">
              <button type="button" class="cardfl-btn-follow">+ FOLLOW</button>
            </div>
          </div>
          <div class="cardfl-in-row2">
            <div class="cardfl-det-cv">
              <div class="cardfl-num">
                32
              </div>
              <div class="cardfl-txt">
                FOLLOWERS
              </div>
            </div>
            <div class="cardfl-det-cv">
              <div class="cardfl-num">
                89
              </div>
              <div class="cardfl-txt">
                FOLLOWING
              </div>
            </div>
            <div class="cardfl-det-cv">
              <div class="cardfl-num">
                17
              </div>
              <div class="cardfl-txt">
                REVIEWS
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cardfl">
        <div class="cardfl-in">
          <div class="cardfl-in-row1">
            <div class="cardfl-pict">
              <img src="../image/user.jpg" alt="">
            </div>
            <div class="cardfl-name-stat-cv">
              <div class="cardfl-name">
                innisfreeholic
              </div>
              <div class="cardfl-stat">
                Beauty Expert
              </div>
            </div>
            <div class="cardfl-btn">
              <button type="button" class="cardfl-btn-follow">+ FOLLOW</button>
            </div>
          </div>
          <div class="cardfl-in-row2">
            <div class="cardfl-det-cv">
              <div class="cardfl-num">
                32
              </div>
              <div class="cardfl-txt">
                FOLLOWERS
              </div>
            </div>
            <div class="cardfl-det-cv">
              <div class="cardfl-num">
                89
              </div>
              <div class="cardfl-txt">
                FOLLOWING
              </div>
            </div>
            <div class="cardfl-det-cv">
              <div class="cardfl-num">
                17
              </div>
              <div class="cardfl-txt">
                REVIEWS
              </div>
            </div>
          </div>
          <div class="cardfl-in-row3">
            <div class="cardfl-percent" style="opacity:0.5">
              50%
            </div>
            <div class="cardfl-cat">
              Match : Body Concern
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <script type="text/javascript">
    $('.menu .item').tab();
    $('.ui.accordion').accordion();
    $('#location-select').dropdown();
    $('#btn').click(function(){$('.modal').modal('show')});
    </script>
</body>
</html>
