<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Product</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/pd-articles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
</head>
<body>
  <div class="pda">
    <div class="pda-list">
      <div class="pda-item">
        <div class="pda-item-contain">
          <div class="pda-title">
            <p>5 serum ampuh untuk menutrisi kulit wajah</p>
          </div>
            <img class="pda-pict" src="../image/brand-prod3.jpg" alt="">
          <div class="pda-rowbtm">
            <div class="pda-time">
              2 h ago
            </div>
            <a href="#" class="pda-share"></a>
          </div>
        </div>
      </div>
      <div class="pda-item">
        <div class="pda-item-contain">
          <div class="pda-title">
            <p>5 serum ampuh untuk menutrisi kulit wajah</p>
          </div>
            <img class="pda-pict" src="../image/brand-prod3.jpg" alt="">
          <div class="pda-rowbtm">
            <div class="pda-time">
              2 h ago
            </div>
            <a href="#" class="pda-share"></a>
          </div>
        </div>
      </div>
      <div class="pda-item">
        <div class="pda-item-contain">
          <div class="pda-title">
            <p>5 serum ampuh untuk menutrisi kulit wajah</p>
          </div>
            <img class="pda-pict" src="../image/brand-prod3.jpg" alt="">
          <div class="pda-rowbtm">
            <div class="pda-time">
              2 h ago
            </div>
            <a href="#" class="pda-share"></a>
          </div>
        </div>
      </div>
      <div class="pda-item">
        <div class="pda-item-contain">
          <div class="pda-title">
            <p>5 serum ampuh untuk menutrisi kulit wajah</p>
          </div>
            <img class="pda-pict" src="../image/brand-prod3.jpg" alt="">
          <div class="pda-rowbtm">
            <div class="pda-time">
              2 h ago
            </div>
            <a href="#" class="pda-share"></a>
          </div>
        </div>
      </div>
    </div>
  </div>

    <script type="text/javascript">
    $('.menu .item').tab();
    $('.ui.accordion').accordion();
    $('#location-select').dropdown();
    $('#btn').click(function(){$('.modal').modal('show')});
    </script>
</body>
</html>
