<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Product</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/pd-product.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
</head>
<body>
  <div class="pd-item">
    <div class="pd-itemcol1">
      <img src="../image/brand-prod.jpg" alt="">
    </div>
    <div class="pd-itemcol2">
      <div class="pd-prod-det">
        <span class="pd-rate">
          4.1
        </span>
        <span class="pd-smstarlist">
            <i class="pd-smstar-pink"></i>
            <i class="pd-smstar-pink"></i>
            <i class="pd-smstar-pink"></i>
            <i class="pd-smstar-pink"></i>
            <i class="pd-smstar-grey"></i>
        </span>
        <span class="pd-total">
          (120 reviews)
        </span>
      </div>
      <div class="pd-titleprod">
        Advance Night Repair
      </div>
      <div class="pd-brand">
        Estee Lauder
      </div>
      <div class="pd-price">
        Rp. 1,320,000
      </div>
      <button class="pd-btn-review" type="button" ><span class="pd-btn-review-ic"></span>add review</button>
      <div class="pd-btn-action">
        <button class="pd-btn" type="button" name="button"><span class="pd-btn-wish-ic"></span>wishlist</button>
        <button class="pd-btn" type="button" name="button"><span class="pd-btn-try-ic"></span>tried it</button>
        <button class="pd-btn" type="button" name="button"><span class="pd-btn-share-ic"></span>share</button>
      </div>
    </div>
  </div>
  <div class="pd-item">
    <div class="pd-itemcol1">
      <img src="../image/brand-prod3.jpg" alt="">
    </div>
    <div class="pd-itemcol2">
      <div class="pd-prod-det">
        <span class="pd-rate">
          4.1
        </span>
        <span class="pd-smstarlist">
            <i class="pd-smstar-pink"></i>
            <i class="pd-smstar-pink"></i>
            <i class="pd-smstar-pink"></i>
            <i class="pd-smstar-pink"></i>
            <i class="pd-smstar-grey"></i>
        </span>
        <span class="pd-total">
          (120 reviews)
        </span>
      </div>
      <div class="pd-titleprod">
        Advance Night Repair
      </div>
      <div class="pd-shade">
        10 Beige
      </div>
      <div class="pd-brand">
        Estee Lauder
      </div>
      <div class="pd-shade">
        Shades
      </div>
      <div class="pd-shade-list">
        <div class="pd-shade-item-selected"></div>
        <div class="pd-shade-item"></div>
        <div class="pd-shade-item"></div>
        <div class="pd-shade-item"></div>
        <div class="pd-shade-item"></div>
        <div class="pd-shade-item"></div>
        <div class="pd-shade-item"></div>
        <div class="pd-shade-item"></div>
        <div class="pd-shade-item"></div>
        <div class="pd-shade-item"></div>
      </div>
      <div class="pd-price">
        Rp. 1,320,000
      </div>
      <button class="pd-btn-review" type="button" ><span class="pd-btn-review-ic"></span>add review</button>
      <div class="pd-btn-action">
        <button class="pd-btn" type="button" name="button"><span class="pd-btn-wish-ic"></span>wishlist</button>
        <button class="pd-btn" type="button" name="button"><span class="pd-btn-try-ic"></span>tried it</button>
        <button class="pd-btn" type="button" name="button"><span class="pd-btn-share-ic"></span>share</button>
      </div>
    </div>
  </div>


    <script type="text/javascript">
    $('.menu .item').tab();
    $('.ui.accordion').accordion();
    $('#location-select').dropdown();
    $('#btn').click(function(){$('.modal').modal('show')});
    </script>
</body>
</html>
