<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Product</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/post.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
</head>
<body>
  <div class="post">
    <div class="post-list">
      <div class="post-item">
        <div class="post-row1">
          <img class="post-profpict" src="../image/user.jpg" alt="">
          <div class="post-row1-col2">
            <div class="post-name">
              rayly
            </div>
            <div class="post-time">
              1 min ago
            </div>
          </div>
        </div>
          <img class="post-prodpict" src="../image/brand-prod1.jpg" alt="">
        <div class="post-row3">
          <div class="post-descript">
            <p>This defines a flex container; inline or block depending on the given value. It enables a flex context for all its direct children.</p>
          </div>
        </div>
        <div class="post-row4">
          <div class="post-act1">
            <span class="post-like">0</span>
            <span class="post-comment ">10</span>
            <span class="post-share ">8</span>
          </div>
          <div class="post-act2">
            <span class="post-report"></span>
          </div>
        </div>
      </div>
      <div class="post-item">
        <div class="post-row1">
          <img class="post-profpict" src="../image/user.jpg" alt="">
          <div class="post-row1-col2">
            <div class="post-name">
              rayly
            </div>
            <div class="post-time">
              1 min ago
            </div>
          </div>
        </div>
          <img class="post-prodpict" src="../image/brand-prod.jpg" alt="">
        <div class="post-row3">
          <div class="post-descript">
            <p>This defines a flex container; inline or block depending on the given value. It enables a flex context for all its direct children.</p>
          </div>
        </div>
        <div class="post-row4">
          <div class="post-act1">
            <span class="post-like">0</span>
            <span class="post-comment ">10</span>
            <span class="post-share ">8</span>
          </div>
          <div class="post-act2">
            <span class="post-report"></span>
          </div>
        </div>
      </div>
      <div class="post-item">
        <div class="post-row1">
          <img class="post-profpict" src="../image/user.jpg" alt="">
          <div class="post-row1-col2">
            <div class="post-name">
              rayly
            </div>
            <div class="post-time">
              1 min ago
            </div>
          </div>
        </div>
          <img class="post-prodpict" src="../image/brand-prod3.jpg" alt="">
        <div class="post-row3">
          <div class="post-descript">
            <p>This defines a flex container; inline or block depending on the given value. It enables a flex context for all its direct children.</p>
          </div>
        </div>
        <div class="post-row4">
          <div class="post-act1">
            <span class="post-like">0</span>
            <span class="post-comment ">10</span>
            <span class="post-share ">8</span>
          </div>
          <div class="post-act2">
            <span class="post-report"></span>
          </div>
        </div>
      </div>
      <div class="post-item">
        <div class="post-row1">
          <img class="post-profpict" src="../image/user.jpg" alt="">
          <div class="post-row1-col2">
            <div class="post-name">
              rayly
            </div>
            <div class="post-time">
              1 min ago
            </div>
          </div>
        </div>
          <img class="post-prodpict" src="../image/brand-prod2.jpg" alt="">
        <div class="post-row3">
          <div class="post-descript">
            <p>This defines a flex container; inline or block depending on the given value. It enables a flex context for all its direct children.</p>
          </div>
        </div>
        <div class="post-row4">
          <div class="post-act1">
            <span class="post-like">0</span>
            <span class="post-comment ">10</span>
            <span class="post-share ">8</span>
          </div>
          <div class="post-act2">
            <span class="post-report"></span>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
