<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Product</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/rating.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
</head>
<body>
  <div class="rating">
    <div class="rating-row1">
      <div class="rating-sqr">
        <div class="rating-sqr-num">
          4.9
        </div>
        <div class="rating-sqr-star">
          <i class="rating-star-pink"></i>
          <i class="rating-star-pink"></i>
          <i class="rating-star-pink"></i>
          <i class="rating-star-pink"></i>
          <i class="rating-star-grey"></i>
        </div>
        <div class="rating-txt">
          Overal rating
        </div>
      </div>
      <div class="rating-gr">
        <div class="rating-star">
          <i class="rating-star-pink"></i>
          <i class="rating-star-pink"></i>
          <i class="rating-star-pink"></i>
          <i class="rating-star-pink"></i>
          <i class="rating-star-pink"></i>
          <div class="rating-bar">
            <div class="rating-bar-in" style="width:80%"></div>
          </div>
          <div class="rating-barnum">4</div>
        </div>
        <div class="rating-star">
          <i class="rating-star-pink"></i>
          <i class="rating-star-pink"></i>
          <i class="rating-star-pink"></i>
          <i class="rating-star-pink"></i>
          <i class="rating-star-grey"></i>
          <div class="rating-bar">
            <div class="rating-bar-in" style="width:40%"></div>
          </div>
          <div class="rating-barnum">2</div>
        </div>
        <div class="rating-star">
          <i class="rating-star-pink"></i>
          <i class="rating-star-pink"></i>
          <i class="rating-star-pink"></i>
          <i class="rating-star-grey"></i>
          <i class="rating-star-grey"></i>
          <div class="rating-bar">
            <div class="rating-bar-in" style="width:20%"></div>
          </div>
          <div class="rating-barnum">1</div>
        </div>
        <div class="rating-star">
          <i class="rating-star-pink"></i>
          <i class="rating-star-pink"></i>
          <i class="rating-star-grey"></i>
          <i class="rating-star-grey"></i>
          <i class="rating-star-grey"></i>
          <div class="rating-bar">
            <div class="rating-bar-in" style="width:0%"></div>
          </div>
          <div class="rating-barnum">0</div>
        </div>
        <div class="rating-star">
          <i class="rating-star-pink"></i>
          <i class="rating-star-grey"></i>
          <i class="rating-star-grey"></i>
          <i class="rating-star-grey"></i>
          <i class="rating-star-grey"></i>
          <div class="rating-bar">
            <div class="rating-bar-in" style="width:0%"></div>
          </div>
          <div class="rating-barnum">0</div>
        </div>
      </div>
    </div>
    <div class="rating-row2">
      <div class="rating-package">
        <div class="rating-txt">
          Package Quality
        </div>
        <div class="rating-num">
          4.0 of 5.0
        </div>
      </div>
      <div class="rating-repur">
        <div class="rating-txt">
          Repurchased
        </div>
        <div class="rating-num">
          74 %
        </div>
      </div>
    </div>
  </div>
</body>
</html>
