<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Review Card</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/review-card.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
</head>
<!-- OPTION SHOW COMMENTS -->
<body>
  <div class="page-content">
    <div class="cardrv-list ">
      <div class="cardrv-item-comment ">
        <div class="cardrv-contain">
          <div class="cardrv-product">
            <div class="cardrv-pict">
              <img src="../image/brand-prod3.jpg" alt="">
            </div>
            <div class="cardrv-prod-det">
              <span class="cardrv-rate">
                4.1
              </span>
              <span class="cardrv-smstarlist">
                  <i class="cardrv-smstar-pink"></i>
                  <i class="cardrv-smstar-pink"></i>
                  <i class="cardrv-smstar-pink"></i>
                  <i class="cardrv-smstar-pink"></i>
                  <i class="cardrv-smstar-grey"></i>
              </span>
              <span class="cardrv-total">
                (120 reviews)
              </span>
            </div>
            <div class="cardrv-titleprod">
              Facial Treatment Essence
            </div>
            <div class="cardrv-var">
              Blossom
            </div>
            <div class="cardrv-brand">
              SK-II
            </div>
          </div>
          <div class="cardrv-detail">
            <div class="cardrv-detail-row1">
              <div class="cardrv-propict">
                <img src="../image/user.jpg" alt="">
              </div>
              <div class="cardrv-userdet">
                <div class="cardrv-username">
                  yomaswn in Treatmen - Serum &amp; Essence
                </div>
                <div class="cardrv-detprod">
                  Combination Skin
                </div>
              </div>
              <div class="cardrv-time">
                45 mins Ago
              </div>
            </div>
            <div class="cardrv-starlist">
              <i class="cardrv-star-pink"></i>
              <i class="cardrv-star-pink"></i>
              <i class="cardrv-star-pink"></i>
              <i class="cardrv-star-pink"></i>
              <i class="cardrv-star-grey"></i>
            </div>
            <div class="cardrv-coment">
              <p>sebenarnya jenis kulit wajah saya cenderung kering. tapi penasaran pengen coba etude sheet mask varian ini. gaada ragu sama sekali sih di awal karena udah tau produk etude itu oke punya. dan ternyataaa hasilnya menakjubkan. cocok banget di kulit wajah, ga ada iritasi sama sekali such as beruntusan apalagi jerawat, yang pastinya hasilnya langsung terpampang nyata. (oke lebay) </p>
            </div>
            <div class="cardrv-readmore">
              <a href="#">READ MORE</a>
            </div>
          </div>
        </div>
        <div class="cardrv-bottom">
          <div class="cardrv-bottom-in">
            <div class="cardrv-bottom1">
              <a href="#" class="cardrv-ic-like">12 Likes</a>
              <a href="#" class="cardrv-ic-comment">2 Comments</a>
              <a href="#" class="cardrv-ic-share">5 Share</a>
            </div>
            <div class="cardrv-bottom2">
              <a href="#" class="cardrv-ic-report">Report</a>
            </div>
          </div>
        </div>
      </div>
      <div class="cardrv-coment-list">
        <div class="cardrv-coment-list-in">
          <div class="cardrv-comment-item">
            <div class="cardrv-detail-row1">
              <div class="cardrv-propict">
                <img src="../image/user.jpg" alt="">
              </div>
              <div class="cardrv-userdet" style="width:100%;">
                <div class="cardrv-username">
                  yomaswn in Treatmen - Serum &amp; Essence
                </div>
                <div class="cardrv-detprod">
                  Combination Skin
                </div>
                <div class="cardrv-comment-txt">
                  <p>sebenarnya jenis kulit wajah saya cenderung kering. tapi penasaran pengen coba etude sheet mask varian ini. gaada ragu sama sekali sih di awal karena udah tau produk etude itu oke punya. dan ternyataaa hasilnya menakjubkan.</p>
                </div>
                <div class="cardrv-comment-date">
                  Jul 27, 20017 at 9.30 am
                </div>
                <hr>
              </div>
            </div>
          </div>
          <div class="cardrv-comment-item">
            <div class="cardrv-detail-row1">
              <div class="cardrv-propict">
                <img src="../image/user.jpg" alt="">
              </div>
              <div class="cardrv-userdet" style="width:100%;">
                <div class="cardrv-username">
                  yomaswn in Treatmen - Serum &amp; Essence
                </div>
                <div class="cardrv-detprod">
                  Combination Skin
                </div>
                <div class="cardrv-comment-txt">
                  <p>sebenarnya jenis kulit wajah saya cenderung kering. tapi penasaran pengen coba etude sheet mask varian ini. gaada ragu sama sekali sih di awal karena udah tau produk etude itu oke punya. dan ternyataaa hasilnya menakjubkan.</p>
                </div>
                <div class="cardrv-comment-date">
                  Jul 27, 20017 at 9.30 am
                </div>
                <hr>
              </div>
            </div>
          </div>
          <div class="cardrv-comment-readmore">
            <a href="#">READ MORE COMMENTS</a>
          </div>
        </div>
      </div>
      <div class="cardrv-item-comment ">
        <div class="cardrv-contain">
          <div class="cardrv-product">
            <div class="cardrv-pict">
              <img src="../image/brand-prod1.jpg" alt="">
            </div>
            <div class="cardrv-prod-det">
              <span class="cardrv-rate">
                4.1
              </span>
              <span class="cardrv-smstarlist">
                <i class="cardrv-smstar-pink"></i>
                <i class="cardrv-smstar-pink"></i>
                <i class="cardrv-smstar-pink"></i>
                <i class="cardrv-smstar-pink"></i>
                <i class="cardrv-smstar-grey"></i>
              </span>
              <span class="cardrv-total">
                (120 reviews)
              </span>
            </div>
            <div class="cardrv-titleprod">
              Facial Treatment Essence
            </div>
            <div class="cardrv-var">
              Blossom
            </div>
            <div class="cardrv-brand">
              SK-II
            </div>
          </div>
          <div class="cardrv-detail">
            <div class="cardrv-detail-row1">
              <div class="cardrv-propict">
                <img src="../image/user.jpg" alt="">
              </div>
              <div class="cardrv-userdet">
                <div class="cardrv-username">
                  yomaswn in Treatmen - Serum &amp; Essence
                </div>
                <div class="cardrv-detprod">
                  Combination Skin
                </div>
              </div>
              <div class="cardrv-time">
                45 mins Ago
              </div>
            </div>
            <div class="cardrv-starlist">
              <i class="cardrv-star-pink"></i>
              <i class="cardrv-star-pink"></i>
              <i class="cardrv-star-pink"></i>
              <i class="cardrv-star-pink"></i>
              <i class="cardrv-star-grey"></i>
            </div>
            <div class="cardrv-coment">
              <p>sebenarnya jenis kulit wajah saya cenderung kering. tapi penasaran pengen coba etude sheet mask varian ini. gaada ragu sama sekali sih di awal karena udah tau produk etude itu oke punya. dan ternyataaa hasilnya menakjubkan. cocok banget di kulit wajah, ga ada iritasi sama sekali such as beruntusan apalagi jerawat, yang pastinya hasilnya langsung terpampang nyata. (oke lebay) </p>
            </div>
            <div class="cardrv-readmore">
              <a href="#">READ MORE</a>
            </div>
          </div>
        </div>
        <div class="cardrv-bottom">
          <div class="cardrv-bottom-in">
            <div class="cardrv-bottom1">
              <a href="#" class="cardrv-ic-like">12 Likes</a>
              <a href="#" class="cardrv-ic-comment">2 Comments</a>
              <a href="#" class="cardrv-ic-share">5 Share</a>
            </div>
            <div class="cardrv-bottom2">
              <a href="#" class="cardrv-ic-edit">Edit Review</a>
            </div>
          </div>
        </div>
      </div>
      <div class="cardrvsingle-item- ">
        <div class="cardrv-contain">
          <div class="cardrv-product">
            <div class="cardrv-pict">
              <img src="../image/brand-prod1.jpg" alt="">
            </div>
            <div class="cardrv-prod-det">
              <span class="cardrv-rate">
                4.1
              </span>
              <span class="cardrv-smstarlist">
                <i class="cardrv-smstar-pink"></i>
                <i class="cardrv-smstar-pink"></i>
                <i class="cardrv-smstar-pink"></i>
                <i class="cardrv-smstar-pink"></i>
                <i class="cardrv-smstar-grey"></i>
              </span>
              <span class="cardrv-total">
                (120 reviews)
              </span>
            </div>
            <div class="cardrv-titleprod">
              Facial Treatment Essence
            </div>
            <div class="cardrv-var">
              Blossom
            </div>
            <div class="cardrv-brand">
              SK-II
            </div>
          </div>
          <div class="cardrv-detail">
            <div class="cardrv-detail-row1">
              <div class="cardrv-propict">
                <img src="../image/user.jpg" alt="">
              </div>
              <div class="cardrv-userdet">
                <div class="cardrv-username">
                  yomaswn in Treatmen - Serum &amp; Essence
                </div>
                <div class="cardrv-detprod">
                  Combination Skin
                </div>
              </div>
              <div class="cardrv-time">
                45 mins Ago
              </div>
            </div>
            <div class="cardrv-starlist">
              <i class="cardrv-star-pink"></i>
              <i class="cardrv-star-pink"></i>
              <i class="cardrv-star-pink"></i>
              <i class="cardrv-star-pink"></i>
              <i class="cardrv-star-grey"></i>
            </div>
            <div class="cardrv-coment">
              <p>sebenarnya jenis kulit wajah saya cenderung kering. tapi penasaran pengen coba etude sheet mask varian ini. gaada ragu sama sekali sih di awal karena udah tau produk etude itu oke punya. dan ternyataaa hasilnya menakjubkan. cocok banget di kulit wajah, ga ada iritasi sama sekali such as beruntusan apalagi jerawat, yang pastinya hasilnya langsung terpampang nyata. (oke lebay) </p>
            </div>
            <div class="cardrv-readmore">
              <a href="#">READ MORE</a>
            </div>
          </div>
        </div>
        <div class="cardrv-bottom">
          <div class="cardrv-bottom-in">
            <div class="cardrv-bottom1">
              <a href="#" class="cardrv-ic-like">12 Likes</a>
              <a href="#" class="cardrv-ic-comment">2 Comments</a>
              <a href="#" class="cardrv-ic-share">5 Share</a>
            </div>
            <div class="cardrv-bottom2">
              <a href="#" class="cardrv-ic-edit">Edit Review</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <script type="text/javascript">
    $('.menu .item').tab();
    $('.ui.accordion').accordion();
    $('#location-select').dropdown();
    $('#btn').click(function(){$('.modal').modal('show')});
    </script>
</body>
</html>
