<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Small Item Card</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/small-item-card.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
</head>
<body>
  <div class="page-content">
    <div class="cardsi-list">
      <div class="cardsi-item">
        <div class="cardsi-pict">
          <img class="fade-pict" src="../image/brand-prod1.jpg" alt="">
          <div class="cardsi-pict-hover">
            <button type="button" class="cardsi-btn-review" style="margin-bottom:10px;">
              <span class="cardsi-ic-review ">ADD REVIEW</span>
            </button>
            <button type="button" class="cardsi-btn-remove">
              <span class="cardsi-ic-remove ">REMOVE</span>
            </button>
          </div>
        </div>
        <div class="cardsi-rate ">
          <span class="cardsi-score">4.9</span>
          <div class="cardsi-star ">
            <a class="cardsi-star-pink"></a>
            <a class="cardsi-star-pink"></a>
            <a class="cardsi-star-pink"></a>
            <a class="cardsi-star-pink"></a>
            <a class="cardsi-star-grey"></a>
          </div>
          <span class="cardsi-total">(7)</span>
        </div>
        <div >
          <p class="cardsi-title">The Green Tea Seed Serum</p>
        </div>
        <div class="cardsi-shade">
          Natural Beige
        </div>
        <div class="cardsi-brand">
          Estee Lauder
        </div>
      </div>
      <div class="cardsi-item">
        <div class="cardsi-pict">
          <img class="fade-pict" src="../image/brand-prod1.jpg" alt="">
          <div class="cardsi-pict-hover">
            <button type="button" class="cardsi-btn-review" style="margin-bottom:10px;">
              <span class="cardsi-ic-review ">ADD REVIEW</span>
            </button>
            <button type="button" class="cardsi-btn-remove">
              <span class="cardsi-ic-remove ">REMOVE</span>
            </button>
          </div>
        </div>
        <div class="cardsi-rate ">
          <span class="cardsi-score">4.9</span>
          <div class="cardsi-star ">
            <a class="cardsi-star-pink"></a>
            <a class="cardsi-star-pink"></a>
            <a class="cardsi-star-pink"></a>
            <a class="cardsi-star-pink"></a>
            <a class="cardsi-star-grey"></a>
          </div>
          <span class="cardsi-total">(7)</span>
        </div>
        <div >
          <p class="cardsi-title">The Green Tea Seed Serum</p>
        </div>
        <div class="cardsi-shade">
          Natural Beige
        </div>
        <div class="cardsi-brand">
          Estee Lauder
        </div>
      </div>
      <div class="cardsi-item">
        <div class="cardsi-pict">
          <img class="fade-pict" src="../image/brand-prod1.jpg" alt="">
          <div class="cardsi-pict-hover">
            <button type="button" class="cardsi-btn-review" style="margin-bottom:10px;">
              <span class="cardsi-ic-review ">ADD REVIEW</span>
            </button>
            <button type="button" class="cardsi-btn-remove">
              <span class="cardsi-ic-remove ">REMOVE</span>
            </button>
          </div>
        </div>
        <div class="cardsi-rate ">
          <span class="cardsi-score">4.9</span>
          <div class="cardsi-star ">
            <a class="cardsi-star-pink"></a>
            <a class="cardsi-star-pink"></a>
            <a class="cardsi-star-pink"></a>
            <a class="cardsi-star-pink"></a>
            <a class="cardsi-star-grey"></a>
          </div>
          <span class="cardsi-total">(7)</span>
        </div>
        <div >
          <p class="cardsi-title">The Green Tea Seed Serum</p>
        </div>
        <div class="cardsi-shade">
          Natural Beige
        </div>
        <div class="cardsi-brand">
          Estee Lauder
        </div>
      </div>
      <div class="cardsi-item">
        <div class="cardsi-pict">
          <img class="fade-pict" src="../image/brand-prod1.jpg" alt="">
          <div class="cardsi-pict-hover">
            <button type="button" class="cardsi-btn-review" style="margin-bottom:10px;">
              <span class="cardsi-ic-review ">ADD REVIEW</span>
            </button>
            <button type="button" class="cardsi-btn-remove">
              <span class="cardsi-ic-remove ">REMOVE</span>
            </button>
          </div>
        </div>
        <div class="cardsi-rate ">
          <span class="cardsi-score">4.9</span>
          <div class="cardsi-star ">
            <a class="cardsi-star-pink"></a>
            <a class="cardsi-star-pink"></a>
            <a class="cardsi-star-pink"></a>
            <a class="cardsi-star-pink"></a>
            <a class="cardsi-star-grey"></a>
          </div>
          <span class="cardsi-total">(7)</span>
        </div>
        <div >
          <p class="cardsi-title">The Green Tea Seed Serum</p>
        </div>
        <div class="cardsi-shade">
          Natural Beige
        </div>
        <div class="cardsi-brand">
          Estee Lauder
        </div>
      </div>
      <div class="cardsi-item">
        <div class="cardsi-pict">
          <img class="fade-pict" src="../image/brand-prod1.jpg" alt="">
          <div class="cardsi-pict-hover">
            <button type="button" class="cardsi-btn-review" style="margin-bottom:10px;">
              <span class="cardsi-ic-review ">ADD REVIEW</span>
            </button>
            <button type="button" class="cardsi-btn-remove">
              <span class="cardsi-ic-remove ">REMOVE</span>
            </button>
          </div>
        </div>
        <div class="cardsi-rate ">
          <span class="cardsi-score">4.9</span>
          <div class="cardsi-star ">
            <a class="cardsi-star-pink"></a>
            <a class="cardsi-star-pink"></a>
            <a class="cardsi-star-pink"></a>
            <a class="cardsi-star-pink"></a>
            <a class="cardsi-star-grey"></a>
          </div>
          <span class="cardsi-total">(7)</span>
        </div>
        <div >
          <p class="cardsi-title">The Green Tea Seed Serum</p>
        </div>
        <div class="cardsi-shade">
          Natural Beige
        </div>
        <div class="cardsi-brand">
          Estee Lauder
        </div>
      </div>
    </div>
  </div>
    <script type="text/javascript">
    $('.menu .item').tab();
    $('.ui.accordion').accordion();
    $('#location-select').dropdown();
    $('#btn').click(function(){$('.modal').modal('show')});
    </script>
</body>
</html>
